/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // font-size: 1rem;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f9fafb;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 9px;
  }
}
